* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    border: 3px solid rgb(8, 8, 111);
    border-radius: 7px;
    margin-top: 20px;
}

.container h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 5px;
    width: 100%;
}

label {
    text-align: right;
    width: 80px;
    float: left;
    padding-right: 5px;
}

p input {
    width: 250px;
    line-height: 30px;
    border: 1px solid #8d8686;
    border-radius: 7px;
}

p button {
    display: inline-block;
    width: 60px;
    padding: 5px;
    margin-top: 4px;
    margin-left: 6px;
    color: rgb(231, 231, 231);
    background-color: rgb(47, 151, 69);
}